@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 220 5% 12%;
    --foreground: 0 0% 98%;

    --card: 220 5% 12%;
    --card-foreground: 0 0% 98%;

    /* --popover: 0 0% 3.9%; */
    --popover: 200 4% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 86%;
    --primary-foreground: 0 0% 9%;

    /* --secondary: 220 4% 16%; */
    --secondary: 225 5% 16%;
    --secondary-foreground: 0 0% 86%;

    /* --muted: 220 3% 21%; */
    --muted: 220 2% 24%;
    --muted-foreground: 220 2% 50%;

    --accent: 210 3% 27%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    /* --border: 240 1% 17%; */
    --border: 0 0% 4%;
    --input: 240 1% 17%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  :root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-synthesis: none;
  }

  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.wmde-markdown {
  @apply !bg-background;
  @apply !text-foreground;
  font-family: monospace, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 12pt;
  line-height: 2;
}

/* Scrollbar background */
::-webkit-scrollbar {
  @apply bg-background;
}

/* Scrollbar thumb (foreground) */
::-webkit-scrollbar-thumb {
  @apply bg-secondary;
  @apply rounded-full;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}

/* Optional: Scrollbar width */
::-webkit-scrollbar {
  @apply w-2.5;
}

::-webkit-scrollbar:horizontal {
  @apply h-2.5;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@layer utilities {
  .popover-content-width-full {
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
  }
}
