*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!blossom/package.json
!blossom/src
!blossom/src/**
!blossom/Dockerfile
!blossom/.dockerignore
!packages/data/package.json
!packages/data/src
!packages/data/src/**
!packages/data/drizzle
!packages/data/drizzle/**
!packages/nostr/package.json
!packages/nostr/src
!packages/nostr/src/**
