---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content="Comet" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/demo.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Comet" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/demo.png" />
    <link rel="icon" href="/comet-logo.svg" />
  </head>
  <body class="antialiased bg-[#1d1e20] h-full">
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
